Project XIII/Assets/Animation/Enemy.meta
Project XIII/Assets/Art/Sprites/Hyde/Attack 7.meta
Project XIII/Assets/Anima2D/Examples/TRex/t_rex_parts.png.meta
Project XIII/Assets/Anima2D/Lib/Editor/x64.meta
Project XIII/Assets/Art/WarriorStuff/swords_Sprite.png.meta
Project XIII/Assets/Anima2D/Examples/UnityChan/atlas.png.meta
Project XIII/Assets/Anima2D/Lib/Editor/x86.meta
Project XIII/Assets/Art/Sprites/Hyde/Attack 8.meta
Project XIII/Assets/Art/WarriorStuff/swords_Sprite.png.meta
Project XIII/Assets/Anima2D/Examples/TRex/t_rex_parts.png.meta